# CSE110 Assignment 4


## Write the Python code of the following problems:
**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

## Part 1: Tuple

### Task 1

Assume, you have been given a tuple.

a_tuple = ("The Institute",\
        ("Best Mystery & Thriller", "The Silent Patient", 68821),\
        75717,\
        [1, 2, 3, 400, 5, 6, 7],\
        ("Best Fiction", "The Testaments", 98291)\
)

Write **one line** of Python code to access and print the value 400.

Output: 400

In [ ]:
#TODO
a_tuple = ("The Institute",("Best Mystery & Thriller", "The Silent Patient", 68821),75717,[1, 2, 3, 400, 5, 6, 7],("Best Fiction", "The Testaments", 98291)
)
print(a_tuple[3][3])

400

### Task 2

Assume, you have been given a tuple.

a_tuple =  (10, 20, 24, 25, 26, 35, 70)

Write a Python program that creates a **new tuple** excluding the first and last two elements of the given tuple and prints the new tuple. 

Output: (24, 25, 26)

*Hint: You need to use tuple slicing.*

In [ ]:
#Todo
a_tuple   = (10, 20, 24, 25, 26, 35, 70)
new_tuple = a_tuple [2:-2] 

print(new_tuple)

(24, 25, 26)

### Task 3

Assume, you have been given a tuple. 


book_info = (\
    ("Best Mystery & Thriller","The Silent Patient",68,821),\
    ("Best Horror","The Institute",75,717),\
    ("Best History & Biography","The five",31,783 ),\
    ("Best Fiction","The Testaments",98,291)\
)

Write a Python program that prints its size and all its elements.

Output:\
Size of the tuple is: 4\
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)\
('Best Horror', 'The Institute', 75, 717)\
('Best History & Biography', 'The five', 31, 783)\
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Todo
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

size = len(book_info)

print("Size of the tuple is:",size)
for counter in book_info:
    print(counter)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

### Task 4

Assume, you have been given a tuple. 

book_info = (\
    ("Best Mystery & Thriller","The Silent Patient",68821),\
    ("Best Horror","The Institute",75717),\
    ("Best History & Biography","The five",31783 ),\
    ("Best Fiction","The Testaments",98291)\
)

Write a Python program that prints the information about the Good Reads Choice Awards from a tuple. Your program should print the award category, the book name, and its total votes needed for the win.

**Output:**\
The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes\
The Institute won the 'Best Horror' category with 75717 votes\
The five won the 'Best History & Biography' category with 31783 votes\
The Testaments won the 'Best Fiction' category with 98291 votes

*Hint: You need to handle the quotation marks as a part of the output.*
**<font color='red'>[Must use Tuple unpacking for printing.]</font>**

In [ ]:
#Todo
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

first, second, third, fourth = book_info #unpacking

print(first[1] ,"won the"  ,"'", first[0]  ,"'", "category with", first[2] ,"votes")
print(second[1],"won the"  ,"'", second[0] ,"'", "category with", second[2],"votes")
print(third[1] ,"won the"  ,"'", third[0]  ,"'", "category with", third[2] ,"votes")
print(fourth[1],"won the"  ,"'", fourth[0] ,"'", "category with", fourth[2],"votes")

The Silent Patient won the ' Best Mystery & Thriller ' category with 68821 votes
The Institute won the ' Best Horror ' category with 75717 votes
The five won the ' Best History & Biography ' category with 31783 votes
The Testaments won the ' Best Fiction ' category with 98291 votes

### Task 5

Assume, you have been given a tuple.

a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])

Write a Python program that asks the user for input (can be any data type) and **replaces the last element of each of the inner lists with the user given value.**

**Example 1:**\
Input: “abc”\
Output: ([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

**Example 2:**\
Input: 1000\
Output: ([1, 2, 1000], [4, 5, 1000], [7, 8, 1000], [10, 11, 1000])

In [ ]:
#Todo
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
a_list =list(a_tuple)

user_input= input("Enter a string that you want to replce:")

for counter in range(len(a_list)):
    a_list[counter][2]=user_input

new_tuple=tuple(a_list)
print(new_tuple)

Enter a string that you want to replce:costarica
([1, 2, 'costarica'], [4, 5, 'costarica'], [7, 8, 'costarica'], [10, 11, 'costarica'])

## Part 2: Dictionary

### Task 6

Suppose there is a dictionary of your shopping list.

shopping_list = {'Chocolate': 'Hersheys', 'Cocoa  powder': 'Cadbury', 'Spread': 'Nutella'} 

Now write a python program to add a new key called 'Baking powder' and assign 'Foster clarks' as its value.

**Output:**\
{'Chocolate': 'Hersheys', 'Cocoa  powder': 'Cadbury', 'Spread': 'Nutella', 'Baking powder': 'Foster clarks'}

In [ ]:
#todo
shopping_list = {'Chocolate': 'Hersheys', 'Cocoa powder': 'Cadbury', 'Spread': 'Nutella'}
shopping_list.update({'Baking powder':'Foster clarks'})
print(shopping_list)

{'Chocolate': 'Hersheys', 'Cocoa powder': 'Cadbury', 'Spread': 'Nutella', 'Baking powder': 'Foster clarks'}

### Task 7
Suppose you are given the following two dictionaries.\
marks_boys = {'Harry':15, 'Draco':8, 'Nevil':19}\
marks_girls = {'Ginie':18, 'Luna': 14}

Now create a new dictionary marks merging the two of the above dictionaries, **so that the original two dictionaries remain unchanged.**

**Output:**\
{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

*Hint: You can use dictionary functions.*

In [ ]:
#todo
marks_boys = {'Harry':15, 'Draco':8, 'Nevil':19}
marks_girls = {'Ginie':18, 'Luna': 14}
new_dict={}
new_dict.update(marks_boys)
new_dict.update(marks_girls)
print(new_dict)

{'Ginie': 18, 'Luna': 14}
{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

### Task 8
Write a Python program to find the average of all the values in a dictionary. <font color='red'>[ You are not allowed to use len() and sum()]</font>

**Input:**\
salary = {'Jon': 100, 'Dan':200, 'Rob':300}

**Output:**\
Average is 200

*Hint: You can use dictionary functions to get all the values of the dictionary, then run loop to calculate the sum and the total number of values in the dictionary.*

In [ ]:
1,2,3

In [ ]:
#todo
salary = {'Jon': 100, 'Dan':200, 'Rob':300}
sum=0
for i in salary.values():
    sum+=(i)
print(sum/len(salary))

200.0

### Task 9
Write a Python program that discards **duplicate elements** from the following dictionary. 

bank = {'customer1':101, 'customer2':102, 'customer3':101, 'customer4':103, 'customer5':102}

**Output:**\
{'customer1': 101, 'customer2': 102, 'customer4': 103}

*Hint: Think of membership operators (in and not in). You can use dictionary functions to get the values.*

In [ ]:
#todo
bank = {'customer1':101, 'customer2':102, 'customer3':101, 'customer4':103, 'customer5':102}
copy_bank=dict(bank)
uniq_value=[]
for k,v in copy_bank.items():
    if v not in uniq_value:
        uniq_value+=[v]
    else:
        bank.pop(k)
print(bank)

{'customer1': 101, 'customer2': 102, 'customer4': 103}

### Task 10
Write a Python program that finds the largest value with its key from the following dictionary. <font color='red'>[without using max() function]</font> 

book_shop = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

**Output:**\
The highest selling book genre is mystery and the number of books sold are 15

*Hint: Think of membership operators (in and not in). You can use dictionary functions to get the values.*

In [ ]:
#todo
book_shop = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
lv=book_shop['sci fi']
lk=""
for k,v in book_shop.items():
    if lv<v:
        lv=v
        lk=k
print(lv,lk)

15 mystery

In [ ]:
k=int(input())
if (k)%2==0:
    print(k//2)
else:
    print((-1)*(k-(k//2)))

8
4

### Task 11
Write a Python program that combines two dictionary adding values for common keys. 
**Input:**\
dict1 = {'a': 10, 'b':20, 'c':30}\
dict2 = {'a': 10, 'c':20, 'd':30, 'e':40}

**Output:**\
{'a': 20, 'b': 20, 'c': 50, 'd': 30, 'e': 40}


*Hint: Think of membership operators (in and not in). You can use dictionary functions to get the values. Need to create a new dictionary to store the combined items.*

In [ ]:
#todo
dict1 = {'a': 10, 'b':20, 'c':30}
dict2 = {'a': 10, 'c':20, 'd':30, 'e':40}
dict3=dict(dict1)
for k,v in dict2.items():
    if k in dict3:
        dict3[k]+=v
    else:
        dict3[k]=v
print(dict3)

{'a': 20, 'b': 20, 'c': 50, 'd': 30, 'e': 40}

### Task 12
Write a Python program that takes a string as an input from the user and counts the frequency of each character using the dictionary. For solving this problem, you need to use each character as a key and its frequency as values. <font color='red'>[without using count() function]</font> 


**Input:**\
"Python programming is fun"

**Output:**\
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

*Hint: Need to create a new dictionary to store the frequency. Case is ignored (P and p are considered same).*

In [ ]:
#todo

Enter a string:truth shall previl
{'t': 2, 'r': 2, 'u': 1, 'h': 2, 's': 1, 'a': 1, 'l': 3, 'p': 1, 'e': 1, 'v': 1, 'i': 1}

### Task 13
Suppose you are given the following dictionary where its values are lists. 


dict = {'A': [1,2,3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

Write a Python program that counts the total number of items in the dictionary’s values and prints it. <font color='red'>[without using sum() , len(), count() function]</font> 

**Output:**\
9

In [ ]:
#todo

[1, 2, 3]
['1', '2']
[4, 5, 6, 7]
9

### Task 14

Write a Python program that takes a number (N) from the user and creates a dictionary with all the numbers starting from 1 to N (including) as keys and its cubes as values. Lastly, prints the dictionary.

**Example1:** 

Input: 5\
Output: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

**Example2:** 

Input: 3\
Output: {1: 1, 2: 8, 3: 27}

In [ ]:
#todo

Enter a number:5
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Task 15

Suppose you have been given the following list of tuples. 

list = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

Write a Python program that converts this list of tuples into a dictionary and prints the dictionary. <font color='red'>[You are not allowed to use set]</font> 

**Output:**

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

*Hint: Think of membership operators (in and not in).*

In [ ]:
#todo

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}